<a href="https://colab.research.google.com/github/venkatrohithk/Task_1/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd

In [29]:
df = pd.read_csv('sales_data_sample.csv', encoding='latin-1')

#Fisrt 5 rows of the dataset
print(df.head())

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107             30.0      95.70                2  2871.00
1        10121              NaN      81.35                5  2765.90
2        10134             41.0        NaN                2  3884.34
3        10145             45.0      83.26                6  3746.70
4        10159             49.0     100.00               14  5205.27

          ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0    2/24/2003 0:00  Shipped       1         2     2003  ...
1  05-07-2003 00:00  Shipped       2         5     2003  ...
2  07-01-2003 00:00  Shipped       3         7     2003  ...
3    8/25/2003 0:00  Shipped       3         8     2003  ...
4  10-10-2003 00:00  Shipped       4        10     2003  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium

[5 rows x 25 columns]

In [30]:
# Last 5 rows in the dataset
print(df.tail())

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
2833        10350             20.0     100.00               15  2244.40
2834        10373             29.0        NaN                1  3978.51
2835        10386             43.0     100.00                4  5417.57
2836        10397             34.0      62.24                1  2116.16
2837        10414             47.0      65.52                9  3079.44

             ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
2833  12-02-2004 00:00   Shipped       4        12     2004  ...
2834    1/31/2005 0:00   Shipped       1         1     2005  ...
2835  03-01-2005 00:00  Resolved       1         3     2005  ...
2836    3/28/2005 0:00   Shipped       1         3     2005  ...
2837  05-06-2005 00:00   On Hold       2         5     2005  ...

               ADDRESSLINE1  ADDRESSLINE2      CITY STATE POSTALCODE  COUNTRY  \
2833     C/ Moralzarzal, 86           NaN    Madrid   NaN      28034    Spain
2834            Torikatu 38           NaN      Oulu   NaN      90110  Finland
2835     C/ Moralzarzal, 86           NaN    Madrid   NaN      28034    Spain
2836  1 rue Alsace-Lorraine           NaN  Toulouse   NaN      31000   France
2837     8616 Spinnaker Dr.           NaN    Boston    MA      51003      USA

     TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
2833      EMEA          Freyre            Diego    Small
2834      EMEA       Koskitalo           Pirkko   Medium
2835      EMEA          Freyre            Diego   Medium
2836      EMEA          Roulet          Annette    Small
2837       NaN         Yoshido             Juri   Medium

[5 rows x 25 columns]

In [31]:
#Summary of the sales data
df.describe()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,QTR_ID,MONTH_ID,YEAR_ID,MSRP
count,2838.000000,2824.000000,2828.000000,2838.000000,2838.000000,2838.000000,2838.000000,2838.000000,2838.000000
mean,10258.865751,35.109773,83.705311,6.454193,3565.764841,2.714940,7.083510,2003.816772,101.014447
std,92.005900,9.736667,20.175446,4.223136,1850.136263,1.203975,3.658646,0.699141,40.454121
min,10100.000000,6.000000,26.880000,1.000000,482.130000,1.000000,1.000000,2003.000000,33.000000
25%,10180.000000,27.000000,69.010000,3.000000,2204.225000,2.000000,4.000000,2003.000000,68.000000
50%,10262.500000,35.000000,95.940000,6.000000,3188.380000,3.000000,8.000000,2004.000000,99.000000
75%,10334.000000,43.000000,100.000000,9.000000,4515.895000,4.000000,11.000000,2004.000000,126.250000
max,10425.000000,97.000000,100.000000,18.000000,14082.800000,4.000000,12.000000,2005.000000,214.000000

In [32]:
df.shape

(2838, 25)

In [33]:
# Identify and handle missing values using .isnull() in Python or filters in Excel.
df.isnull().sum()

ORDERNUMBER            0
QUANTITYORDERED       14
PRICEEACH             10
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 9
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2534
CITY                   0
STATE               1490
POSTALCODE            77
COUNTRY                0
TERRITORY           1083
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [34]:
#Remove the columns which have max NA values
df = df.drop(columns = ['ADDRESSLINE2', 'STATE', 'TERRITORY'])
df.shape

(2838, 22)

In [35]:
# Fill the na values using mean for numerical data
numerical_cols = df.select_dtypes(include=['number']).columns

# Calculate the mean for each numerical column
for col in numerical_cols:
  # Calculate the mean of non-missing values in the column
  col_mean = df[col].mean()

  # Fill missing values in the column with the calculated mean
  df[col] = df[col].fillna(col_mean)

print(df.head())

   ORDERNUMBER  QUANTITYORDERED   PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107        30.000000   95.700000                2  2871.00
1        10121        35.109773   81.350000                5  2765.90
2        10134        41.000000   83.705311                2  3884.34
3        10145        45.000000   83.260000                6  3746.70
4        10159        49.000000  100.000000               14  5205.27

          ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ... PRODUCTCODE  \
0    2/24/2003 0:00  Shipped       1         2     2003  ...    S10_1678
1  05-07-2003 00:00  Shipped       2         5     2003  ...    S10_1678
2  07-01-2003 00:00  Shipped       3         7     2003  ...    S10_1678
3    8/25/2003 0:00  Shipped       3         8     2003  ...    S10_1678
4  10-10-2003 00:00  Shipped       4        10     2003  ...    S10_1678

               CUSTOMERNAME             PHONE                   ADDRESSLINE1  \
0         Land of Toys Inc.        2125557818        897 Long Airport Avenue
1        Reims Collectables        26.47.1555             59 rue de l'Abbaye
2           Lyon Souveniers  +33 1 46 62 7555  27 rue du Colonel Pierre Avia
3         Toys4GrownUps.com        6265557265             78934 Hillside Dr.
4  Corporate Gift Ideas Co.        6505551386                7734 Strong St.

            CITY POSTALCODE COUNTRY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0            NYC      10022     USA              Yu             Kwai    Small
1          Reims      51100  France         Henriot             Paul    Small
2          Paris      75508  France        Da Cunha           Daniel   Medium
3       Pasadena      90003     USA           Young            Julie   Medium
4  San Francisco        NaN     USA           Brown            Julie   Medium

[5 rows x 22 columns]

In [36]:
# Fill the na values using forward fill for categorical data
categorical_cols = df.select_dtypes(include=['object']).columns

for col in categorical_cols:
  # Fill missing values in the column with the forward fill
  df[col] = df[col].ffill()

print(df.head())

   ORDERNUMBER  QUANTITYORDERED   PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107        30.000000   95.700000                2  2871.00
1        10121        35.109773   81.350000                5  2765.90
2        10134        41.000000   83.705311                2  3884.34
3        10145        45.000000   83.260000                6  3746.70
4        10159        49.000000  100.000000               14  5205.27

          ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ... PRODUCTCODE  \
0    2/24/2003 0:00  Shipped       1         2     2003  ...    S10_1678
1  05-07-2003 00:00  Shipped       2         5     2003  ...    S10_1678
2  07-01-2003 00:00  Shipped       3         7     2003  ...    S10_1678
3    8/25/2003 0:00  Shipped       3         8     2003  ...    S10_1678
4  10-10-2003 00:00  Shipped       4        10     2003  ...    S10_1678

               CUSTOMERNAME             PHONE                   ADDRESSLINE1  \
0         Land of Toys Inc.        2125557818        897 Long Airport Avenue
1        Reims Collectables        26.47.1555             59 rue de l'Abbaye
2           Lyon Souveniers  +33 1 46 62 7555  27 rue du Colonel Pierre Avia
3         Toys4GrownUps.com        6265557265             78934 Hillside Dr.
4  Corporate Gift Ideas Co.        6505551386                7734 Strong St.

            CITY POSTALCODE COUNTRY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0            NYC      10022     USA              Yu             Kwai    Small
1          Reims      51100  France         Henriot             Paul    Small
2          Paris      75508  France        Da Cunha           Daniel   Medium
3       Pasadena      90003     USA           Young            Julie   Medium
4  San Francisco      90003     USA           Brown            Julie   Medium

[5 rows x 22 columns]

In [37]:
# Remove duplicate rows using .drop_duplicates() or Excel’s “Remove Duplicates”.
duplicate_rows = df[df.duplicated(keep=False)]
print("Numder of duplicates:",duplicate_rows.shape)

df = df.drop_duplicates()
print("\nDataFrame shape after removing duplicate:",df.shape)

Numder of duplicates: (28, 22)

DataFrame shape after removing duplicate: (2824, 22)

In [38]:
# Standardize text values like country names, etc.
print("Country names before standardizing")
print(df['COUNTRY'].unique())

def standardize_country(country):
    country = str(country).strip().lower()

    if country == 'usa' or country == 'u.s.a':
        return 'United States'
    elif country == 'uk':
        return 'United Kingdom'
    # Add more conditions for other country variations if needed
    else:
        return country.title()  # Capitalize first letter of each word

df["COUNTRY"] = df["COUNTRY"].apply(standardize_country)

print("\nCountry names after standardizing")
print(df['COUNTRY'].unique())

Country names before standardizing
['USA' 'France' 'United States' 'Norway' 'Australia' 'U.S.A' 'Finland'
 'Austria' 'United Kingdom' 'Spain' 'Sweden' 'Singapore' 'Canada' 'Japan'
 'Italy' 'UK' 'Denmark' 'Belgium' 'Philippines' 'Germany' 'Switzerland'
 'Ireland']

Country names after standardizing
['United States' 'France' 'Norway' 'Australia' 'Finland' 'Austria'
 'United Kingdom' 'Spain' 'Sweden' 'Singapore' 'Canada' 'Japan' 'Italy'
 'Denmark' 'Belgium' 'Philippines' 'Germany' 'Switzerland' 'Ireland']

In [39]:
# Convert date formats to a consistent type (e.g., dd-mm-yyyy).
print("Before standardizing:")
print(df['ORDERDATE'].head())

# Normalize separators
df['ORDERDATE'] = df['ORDERDATE'].str.replace('-', '/', regex=False)

# Convert using explicit format: MM/DD/YYYY H:M
df['ORDERDATE'] = pd.to_datetime(df['ORDERDATE'], format='%m/%d/%Y %H:%M', errors='coerce')

# Format to dd-mm-yyyy
df['ORDERDATE'] = df['ORDERDATE'].dt.strftime('%d-%m-%Y')

print("\nAfter standardizing:")
df['ORDERDATE'].head()

Before standardizing:
0      2/24/2003 0:00
1    05-07-2003 00:00
2    07-01-2003 00:00
3      8/25/2003 0:00
4    10-10-2003 00:00
Name: ORDERDATE, dtype: object

After standardizing:

0    24-02-2003
1    07-05-2003
2    01-07-2003
3    25-08-2003
4    10-10-2003
Name: ORDERDATE, dtype: object

In [40]:
# Rename column headers to be clean and uniform (e.g., lowercase, no spaces).
df.columns = df.columns.str.lower().str.replace(' ', '_')
print(df.columns)

Index(['ordernumber', 'quantityordered', 'priceeach', 'orderlinenumber',
       'sales', 'orderdate', 'status', 'qtr_id', 'month_id', 'year_id',
       'productline', 'msrp', 'productcode', 'customername', 'phone',
       'addressline1', 'city', 'postalcode', 'country', 'contactlastname',
       'contactfirstname', 'dealsize'],
      dtype='object')

In [41]:
# Check and fix data types (e.g., age should be int, date as datetime).
print("data types before changing:")
print(df.dtypes)

df['orderdate'] = pd.to_datetime(df['orderdate'],dayfirst=True, errors='coerce')

print("\ndata types after changing:")
print(df.dtypes)

data types before changing:
ordernumber           int64
quantityordered     float64
priceeach           float64
orderlinenumber       int64
sales               float64
orderdate            object
status               object
qtr_id                int64
month_id              int64
year_id               int64
productline          object
msrp                  int64
productcode          object
customername         object
phone                object
addressline1         object
city                 object
postalcode           object
country              object
contactlastname      object
contactfirstname     object
dealsize             object
dtype: object

data types after changing:
ordernumber                  int64
quantityordered            float64
priceeach                  float64
orderlinenumber              int64
sales                      float64
orderdate           datetime64[ns]
status                      object
qtr_id                       int64
month_id                     int64
year_id                      int64
productline                 object
msrp                         int64
productcode                 object
customername                object
phone                       object
addressline1                object
city                        object
postalcode                  object
country                     object
contactlastname             object
contactfirstname            object
dealsize                    object
dtype: object

In [42]:
df.head(10)

,ordernumber,quantityordered,priceeach,orderlinenumber,sales,orderdate,status,qtr_id,month_id,year_id,...,productcode,customername,phone,addressline1,city,postalcode,country,contactlastname,contactfirstname,dealsize
0,10107,30.000000,95.700000,2,2871.00,2003-02-24,Shipped,1,2,2003,...,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NYC,10022,United States,Yu,Kwai,Small
1,10121,35.109773,81.350000,5,2765.90,2003-05-07,Shipped,2,5,2003,...,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,Reims,51100,France,Henriot,Paul,Small
2,10134,41.000000,83.705311,2,3884.34,2003-07-01,Shipped,3,7,2003,...,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,75508,France,Da Cunha,Daniel,Medium
3,10145,45.000000,83.260000,6,3746.70,2003-08-25,Shipped,3,8,2003,...,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,Pasadena,90003,United States,Young,Julie,Medium
4,10159,49.000000,100.000000,14,5205.27,2003-10-10,Shipped,4,10,2003,...,S10_1678,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,San Francisco,90003,United States,Brown,Julie,Medium
5,10168,36.000000,96.660000,1,3479.76,2003-10-28,Shipped,4,10,2003,...,S10_1678,Technics Stores Inc.,6505556809,9408 Furth Circle,Burlingame,94217,United States,Hirano,Juri,Medium
6,10180,35.109773,86.130000,9,2497.77,2003-11-11,Shipped,4,11,2003,...,S10_1678,Daedalus Designs Imports,20.16.1555,"184, chausse de Tournai",Lille,59000,France,Rance,Martine,Small
7,10188,48.000000,100.000000,1,5512.32,2003-11-18,Shipped,4,11,2003,...,S10_1678,Herkku Gifts,+47 2267 3215,"Drammen 121, PR 744 Sentrum",Bergen,N 5804,Norway,Oeztan,Veysel,Medium
8,10201,22.000000,98.570000,2,2168.54,2003-12-01,Shipped,4,12,2003,...,S10_1678,Mini Wheels Co.,6505555787,5557 North Pendale Street,San Francisco,N 5804,United States,Murphy,Julie,Small
9,10211,41.000000,100.000000,14,4708.44,2004-01-15,Shipped,1,1,2004,...,S10_1678,Auto Canal Petit,(1) 47.55.6555,"25, rue Lauriston",Paris,75016,France,Perrier,Dominique,Medium

In [43]:
df.to_csv('cleaned_sales_data_sample.csv', index=False)
from google.colab import files
files.download('cleaned_sales_data_sample.csv')